.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 16px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 12px;
}

@media screen and (min-width: 425px) {
  .photo-grid {
    padding: 0 24px;
    grid-gap: 16px;
  }
}


@media screen and (min-width: 1024px) {
  .photo-grid {
    padding: 0 48px;
    grid-gap: 14px;
  }
}


@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-gap: 16px;
  }
}
