.places {
  max-width: 984px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 66px 0;
}

@media screen and (min-width: 720px) {
  .places {
    padding: 90px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    padding: 92px 48px;
  }
}
