.footer {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
  padding-top: 64px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  font-family: "Inter", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


@media screen and (min-width: 720px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 88px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 92px;
    padding-right: 48px;
    padding-left: 48px;
  }
}
